<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>0EC16143-1DCE-48F5-9BDE-4577D963ADB2</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>soundcloud</string>
			<key>text</key>
			<string>Open at SoundCloud</string>
			<key>url</key>
			<string>https://soundcloud.com/</string>
		</dict>
		<key>B1A9F8DC-C6E3-46FB-B520-1956AFE301CA</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>localhostx||nextjs</string>
			<key>text</key>
			<string>Localhost</string>
			<key>url</key>
			<string>http://localhost:3000</string>
		</dict>
		<key>F7C3C62A-09DF-4159-81F6-D89AC002E29C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>soundcloud</string>
			<key>text</key>
			<string>Search for SoundCloud</string>
			<key>url</key>
			<string>https://soundcloud.com/search?q={query}</string>
		</dict>
	</dict>
</dict>
</plist>
